@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */ 
/* start-special-heading  */
.special-heading{
  text-align: center;
  letter-spacing: -3px;
  font-size: 100px;
  color: #ebeced;
  font-weight: 800;
  margin: 0;
}
.special-heading + p{
  text-align: center;
  margin: -30px 0 0;
  font-size: 20px;
  color: #797979;
} 
@media (max-width:767px){
  .special-heading{
  text-align: center;
  letter-spacing: -3px;
  font-size: 60px;
  color: #ebeced;
  margin: 0;
  font-weight: 800;
}
.special-heading + p{
  text-align: center;
  margin: -20px 0 0;
  color: #797979;
} 
}
/* start-special-heading  */
/* Start Global Rules */ * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
   /* ضيف السطر ده */
   /* وضيف ده كمان عشان تضمن التصفير */
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules*/
/* start header */
.header{
  padding: 20px;
}
.header .container {
  display: flex ;
  align-items: center;
  justify-content: space-between;
}
.header .container img{
  width:60px;
}
  .header .links{
    position: relative;
  }
.header .container .links .icon{
  display: flex;
  flex-wrap: wrap;
  width:30px;
  justify-content: flex-end;
}
.header .container .links .icon span{
  height: 2px;
  background: black;
  margin-bottom: 5px;
}
.header .container .links .icon span:nth-child(2){
  width: 60%;
  transition: var(--main-duration);
}
.header .container .links .icon span:first-child{
  width: 100%;
}
.header .container .links .icon span:last-child{
  width: 100%;
}
.header .container .links:hover  .icon span:nth-child(2){
  width: 100%;
}
.header .container .links ul {
  list-style: none;
  background: #f6f6f6;
  padding: 0;
  min-width: 200px;
  position: absolute;
  margin: 0;
  right: 0;
  display: none;
  margin-top: 10px;
  transition: var(--main-duration);
  border-radius: 3px;
  z-index: 1;
}
.header .container .links:hover ul {
  display: block;
}
.header .container .links ul::before{
  content: '';
  border:10px solid ;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}
.header .container .links ul li a{
  display: block;
  padding: 15px;
  text-decoration: none;
  width: 100%;
  color: #333;
  transition: var(--main-duration);
}
.header .container .links ul li:not(:last-child)  a {
  border-bottom: 1px solid #ddd;
}
.header .container .links ul li a:hover{  
  padding-left: 25px;
}
/* end header */
/* start landing */
.landing{
  background-image:url(../images/landing.webp);
  background-size:cover ;
  height:calc(100vh - 64px) ;
  position: relative;
}
.landing .intro-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width:340px;
  max-width: 100%;
}
.landing .intro-text h1{
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
  margin: 10px;
}
.landing .intro-text p{
  font-size: 19px;
  line-height: 1.8;
}
/* end landing */ 
/* start featurs */ 
.features {
  padding: 60px 0;
  background: #f6f6f6;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 20px;
}
.features .container .feat{
  text-align: center;
  padding: 20px;
}
.features .container .feat i{
  color: var(--main-color);
  margin-bottom: 20px;
}
.features .container .feat h3{
  font-weight: 800;
  padding: 20px 0;
}
.features .container .feat{
  color: #777;
  font-size: 17px;
  line-height:1.8;
}
/* end featurs */
/* start services */
.services{
  padding: 60px 0;
}
.services .service-content{display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .srv{
  display: flex;
  margin-bottom: 40px;
}
.services .srv i{
  color: var(--main-color);
  flex-basis: 60px;
}
.services .srv .text{
  flex: 1;
  margin-left: 10px;
}
.services .srv .text h3{
  margin:0 0 20px;
  font-weight: 800;
}
.services .srv .text p{
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .services .srv {
    flex-direction: column;
    text-align: center; /* هذا سيوسط النص والأيقونة معاً */
    
  }
  .services .srv i {
    margin: 0 auto 20px; /* الـ auto في اليمين واليسار تضمن التوسط */
    display: block; /* مهم جداً لتطبيق الهوامش (margins) بشكل صحيح */
    color: var(--main-color);
  }
}
.services .image{
  position: relative;
  text-align: center;
}
.services .image::before{
  content:'' ;
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
  background: var(--secondary-color);
  height: calc(100% + 100px);
  margin-top: -50px;
  z-index: -1;
}
.services .image img{
  width: 266px;
}
@media(max-width:1199px){
  .services .image{
    display: none;
  }
}
/* end services */
/* start portofolio */
.portofolio{
 padding: 60px 0;
  background-color: #f6f6f6;
}
.portofolio .portofolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.portofolio .portofolio-content .card {
background-color: rgb(255, 255, 255);
}
.portofolio .portofolio-content .card img{
  max-width: 100%;
}
.portofolio .portofolio-content .card .info{
padding: 20px;
}
.portofolio .portofolio-content .card .info h3{
  margin: 0;
}
.portofolio .portofolio-content .card .info p{
  margin-bottom: 0;
  color: #777;
  line-height: 1.6;
}
/* End portofolio */
/* start about */
.about{
  padding-top: 60px;
  padding-bottom: 100px;
}
.about .about-content{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 100px;
  }
  @media (max-width:991px){
    .about .about-content{
  flex-direction: column;
  text-align: center;
    }
    .about .about-content .image{
     margin: 0 auto 60px;
    }
}
  .about .about-content .image{
    width: 250px;
    position: relative;
    height: 375px;
  }
  .about .about-content .image img{
    max-width: 100%;
  }
.about .about-content .image::before{
  content: "";
    height: calc(100% + 80px);
    background-color: #ebeced;
    width: 100px;
    position: absolute;
    z-index: -1;
    margin-top: -40px;
    left: -20px;
}
.about .about-content .image::after{
    content: "";
    height: 300px;
    width: 120px;
    position: absolute;
    border-left: 80px solid var(--main-color) ;
    border-bottom: 80px solid var(--main-color);
    right: -153px;
    top: -20px;
    z-index: -1;
}
@media (max-width:991px){
  .about .about-content .image::after,
  .about .about-content .image::before{
    display: none;
  }
}
.about .about-content .text{
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
  line-height: 2;
  font-weight: bold;
  margin-bottom: 60px;
}
.about .about-content .text hr{
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
  line-height: 2;
  color: #777;
}
/* End about */
/* start contact */
.contact {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: var(--section-background);
}
.contact .info{
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
}
.contact .info .label{
  color: var(--secondary-color); 
  font-size: 35px;
  letter-spacing: -2px;
  margin-bottom: 15px;
  font-weight: 800;
}
.contact .info a{
  display: block;
  font-size: 35px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 800;
}
.contact .info .social{
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.contact .info .social i{
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width:767px){
  .contact .info .label,
  .contact .info a{
    font-size: 25px;
  }
}
/* end contact */
/* statat footer */
.footer{
  background: var(--secondary-color);
  color: white;
  padding: 30px 15px;
  text-align: center;
}
.footer span{
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */